<div id="walletWidgetDiv"></div>

<link href="{{ asset('bundles/bitbagsyliusamazonpayplugin/css/Widgets.css') }}" rel="stylesheet">

<script src="{{ asset('bundles/bitbagsyliusamazonpayplugin/js/retrieveAccessToken.js') }}"></script>

<script
        type='text/javascript'
        src='https://static-eu.payments-amazon.com/OffAmazonPayments/{{ config.region }}{{ 'sandbox' == config.environment ? '/' ~ config.environment : '' }}/lpa/js/Widgets.js?sellerId={{ config.merchantId }}'
></script>

<script>
    window.onAmazonLoginReady = function () {
        try {
            amazon.Login.setClientId("{{ config.clientId }}");
            amazon.Login.setUseCookie(true);
        } catch (err) {
            alert(err);
        }
    };

    new OffAmazonPayments.Widgets.Wallet({
        sellerId: '{{ config.merchantId }}',

        {% if amazonOrderReferenceId is null %}
            onOrderReferenceCreate: function(orderReference) {
                let orderReferenceId = orderReference.getAmazonOrderReferenceId();

                $.post('{{ path('bitbag_sylius_amazon_pay_order_reference_create') }}', {
                    orderReferenceId: orderReferenceId
                }).done(function (data) {

                });
            },
        {% else %}
            amazonOrderReferenceId: "{{ amazonOrderReferenceId }}",
        {% endif %}

        design: {
            designMode: 'responsive'
        },
        onPaymentSelect: function(orderReference) {

        },
        onError: function(error) {
            alert("Wallet Widget error: " + error.getErrorCode() + ' - ' + error.getErrorMessage());
        }
    }).bind("walletWidgetDiv");
</script>
