<p>This is the live response from the previous API call.</p>
<pre id="get_details_response">
</pre>

<script type='text/javascript'>
    function getURLParameter(name, source) {
        return decodeURIComponent((new RegExp('[?|&|#]' + name + '=' +
            '([^&]+?)(&|#|;|$)').exec(source) || [,""])[1].replace(/\+/g,
            '%20')) || null;
    }
    var accessToken = getURLParameter("access_token", location.hash);

    console.log("Token:",accessToken);

    window.onAmazonLoginReady = function () {
        try {
            amazon.Login.setClientId('{{ amazon.clientId }}');
            amazon.Login.setUseCookie(true);
        } catch (err) {
            alert(err);
        }
    };

    window.onAmazonPaymentsReady = function () {
        new OffAmazonPayments.Widgets.AddressBook({
            sellerId: "{{ amazon.merchantId }}",
            onOrderReferenceCreate: function (orderReference) {

                $.post('{{ path('tierperso_sylius_amazon_pay_plugin_order_details') }}', {
                    orderReferenceId: orderReference.getAmazonOrderReferenceId(),
                    accessToken: accessToken
                }).done(function (data) {
                    try {
                        JSON.parse(data);
                    } catch (err) {
                    }
                    $("#get_details_response").html(data);
                });
            },
            onAddressSelect: function (orderReference) {
            },
            design: {
                designMode: 'responsive'
            },
            onError: function (error) {
                alert("AddressBook Widget error: " + error.getErrorCode() + ' - ' + error.getErrorMessage());
            }
        }).bind("addressBookWidgetDiv");
        };

</script>

<script async="async" type='text/javascript' src='https://static-eu.payments-amazon.com/OffAmazonPayments{{ amazon.amazonApiRegion }}{{ amazon.amazonApiEnvironment }}/lpa/js/Widgets.js'></script>
